@import "tailwindcss";


@font-face {
    font-family: "Archivo";
    src: url("/src/assets/font/Archivo-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Archivo";
    src: url("/src/assets/font/Archivo-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Archivo';
}

.scrollHide{
    scrollbar-width :none
}